*{
    padding: 0;
}
@font-face{
    font-family: Consolas;
    src: url("fonts/Consolas.ttf")
}
header, nav, section,article,aside,footer{
    display: block;
}
body{
    background-color: #ededed;
    width: 950px;
    height: 630px;
    font-size: 13px;
    font-family: sans-serif;
}
nav{
    margin: 6px 0 0 3px;
    position: relative;
    width: 150px;
    height: 100%;
    display: inline-block;
    text-decoration: none;
    color: black;
}
nav img{
    width: 15px;
    height: 15px;
}
nav a{
    display: block;
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    padding: 0 0 0 0;
    
}
nav h3{
    color: #961917;
    margin: 10px 0px 0px 0px;
}

aside{
    display: inline-block;
    width: 160px;
    height: 100%;
    text-align: center;
    background-color: white;
    position: relative;
    top: -25px;
}
aside div{
    border: 1px solid #555;
    padding: 4px;
    margin: 1px;
}
aside div input{
    width: 80px;
    display: inline-block;
}
aside div a{
    display: inline;
    color: #8C0909;
    text-transform: capitalize;
}
button{
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    font-family: sans-serif;
    font-size: 13px;
    padding: 1px 6px;
    margin: 0px;
    width: 20px;
    height: 18px;
}
.button{
    display: inline-block;
    padding: 2px 10px 2px 10px;
    border: 1px solid black;
    /*margin: 3px;*/
    
    text-decoration: none;
    color: black;
}
#button{
       display: block;
    height: 25px;
    width: 90px;
    border: 1px solid #555;
    background: #e1ffff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, #e1ffff 0%, #e1ffff 7%, #e1ffff 12%, #fdffff 12%, #e6f8fd 30%, #c8eefb 54%, #bee4f8 75%, #b1d8f5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1ffff), color-stop(7%,#e1ffff), color-stop(12%,#e1ffff), color-stop(12%,#fdffff), color-stop(30%,#e6f8fd), color-stop(54%,#c8eefb), color-stop(75%,#bee4f8), color-stop(100%,#b1d8f5));
    background: -webkit-linear-gradient(top, #e1ffff 0%,#e1ffff 7%,#e1ffff 12%,#fdffff 12%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%);
    background: -o-linear-gradient(top, #e1ffff 0%,#e1ffff 7%,#e1ffff 12%,#fdffff 12%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%);
    background: -ms-linear-gradient(top, #e1ffff 0%,#e1ffff 7%,#e1ffff 12%,#fdffff 12%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%);
    background: linear-gradient(to bottom, #e1ffff 0%,#e1ffff 7%,#e1ffff 12%,#fdffff 12%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1ffff', endColorstr='#b1d8f5',GradientType=0 );
    position: relative;
    left: 20px;
    color: #31DAED;
    vertical-align: middle;
}
section{
    display: inline-block;
    background-color: white;
    border: 1px solid #555;
    width: 500px;
    height: auto;
    padding: 0 0 0 5px;
    margin: 0 2 0 -15px;
    position: relative;
    top: -90px;
}
section a{
    color: #A02E2D;
}
section img{
    float: left;
    width: 64px;
    height: 64px;
    margin: 0 10px 60px; 
}
#display-block{
    display: inline-block;
}
#home{
    display: inline-block;
    height: 15px;
    width: 15px;
}
#home-text{
    display: inline-block;
}
.float{
    font-weight: 900;
}
hr{
    color:#555;
}
hr:last-of-type{
    margin-bottom: 30px;
}
h1{
    font-size: 25px;
    font-weight: 900;
    margin: 5px;
}
h2{
    color: white;
    background: #666;
    font-weight: 200;
    font-size: 14px;
    padding: 0 0 0 6px;
}

.next:after{
    background-image:  url('images/next.png');
    background-size: 8px 8px;
    display: inline-block;
    background-repeat: no-repeat;
    width: 8px;
    height: 8px;
    content: "";
    margin: 0 0px 0 40px;
    
}
.previous:before{
    
    background-image: url('images/previous.png');
    
    background-size: 8px 8px;
    display: inline-block;
    background-repeat: no-repeat;
    width: 8px;
    height: 8px;
    content: "";
    padding: 0 5px 0 10px;
}
